<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=table, initial-scale=1.0">
    <title>CondomínioApp - Recuperação de senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            color: #677584;
        }

        .btn:hover {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        }

        table {
            width: 100%;
            max-width: 560px;
        }

        @media (max-width:420px) {

            .flex-column {
                flex-direction: column;
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <table width="560" align="center"
        style="background-color: #f3f3f3; padding: 20px; padding-top: 10px; border-radius: 5px;">
        <tr
            style="border-bottom: 3px solid #00b9ee;padding: 10px;margin-bottom: 20px;align-items: center;display: flex;justify-content: space-around;">
            <td style="text-align: left; margin: 0;">
                <a href="https://www.site.com/">
                    <img width="150" src="https://jcfsoft.com/images/logo_condominioapp_horizontal_alta.png"
                        alt="Nome da empresa">
                </a>
            </td>
        </tr>

        <tr style="padding: 10px;">
            <td>
                Olá <strong>Jefferson Ferreira.</strong>
                <p>Você recentemente solicitou a alteração de sua senha. Siga os passos abaixo
                    para alterar-lá.</p>


                <p>
                    <strong>Passo 1: </strong>
                </p>
                <p>Clique ou copie no/o link abaixo para redefinir sua senha:</p>

                <br />
                <p>
                    <a class="btn"
                        style="color: #ffffff;background-color: #2d2d91;padding: 10px 20px; border-radius: 10px; text-align:center; text-decoration: none;"
                        href="https://www.site.com/recuperar-senha?token=5680c1ef-4d83-4e0a-a268-f60eaaa45b59">
                        Redefinir
                    </a>
                </p>
                <br />

                <p>
                    <a style="color: #2d2d91;" target="_blank"
                        href="https://www.site.com/recuperar-senha?token=5680c1ef-4d83-4e0a-a268-f60eaaa45b59">
                        https://www.site.com/recuperar-senha?token=5680c1ef-4d83-4e0a-a268-f60eaaa45b59
                    </a>
                </p>

                <p>
                    <strong> Passo 2:</strong>
                </p>
                <p>Insira sua nova senha e depois confirme.</p>

                <p>
                    <strong>Passo 3:</strong>
                </p>
                <p>
                    Entre no sistema do utilizando a sua
                    nova senha.
                </p>

                <p>
                    <strong>Atenção:</strong>
                    Recomendamos que você não compartilhe a sua senha com ninguém, pois ela é
                    a sua única forma de acesso ao aplicativo.
                </p>
                <p>
                    Caso não tenha solicitado a alteração de senha, revise sua conta ou apenas ignore este e-mail.
                </p>

                <p>
                    Um grande abraço,<br>
                    Equipe
                </p>
            </td>
        </tr>

        <tr style="padding: 0;margin-top: 30px;align-items: center;display: flex;justify-content: space-around;"
            class="flex-column">
            <td style="text-align: left; margin: 0;" width="50%">
                <h4 style="margin: 0;">Nome da empresa</h4>
                <small style="margin: 0;">
                    <a href=" mailto:#">suporte@email.com</a>
                </small> <br>
                <small style="margin: 0;">
                    <a href=" mailto:#">contato@email.com</a>
                </small>
            </td>
            <td style="text-align: right; margin: 0;" width="50%">
                <a style="text-align: center; text-decoration: none; cursor: pointer;" href="#" target="_blank">
                    <img src="https://jcfsoft.com/images/iconFacebook.png" alt="Facebook do empresa">
                </a>
                <a style="text-align: center; text-decoration: none; cursor: pointer;" href="#" target="_blank">
                    <img src="https://jcfsoft.com/images/iconInstagram.png" alt="Instagram do empresa">
                </a>
                <a style="text-align: center; text-decoration: none; cursor: pointer;" href="" target="_blank">
                    <img src="https://jcfsoft.com/images/iconLinkedin.png" alt="LinkedIn do empresa">
                </a>
            </td>
        </tr>
        <caption style="caption-side: bottom; font-size: 12px; font-weight: bold; margin-top: 10px;">
            Copyright 2020 by Empresa LTDA.
        </caption>
    </table>
</body>

</html>